body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 54px;
}
h3{
    font-size: 28px;
}
.colored-text{
    color: blueviolet;
}
p{
    font-size: 18px;
    color: #828282;
    margin: 2em 0;
}
section{
    margin-bottom: 150px;
}
#banner{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 100px;
}
#resized-image{
    width: 80%;
}
.call-to-action-button{
    text-decoration: none;
    color: white;
    background: 16px;
    background-image: linear-gradient(blueviolet,blue );
    border-radius: 16px;
    padding: 16px;
    margin-top: 100px;
}
#about{
    background-image: url(../image/about-me-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 600px;
    padding-top: 5%;
    padding-bottom: 5%;
}
#about-text{
    margin-left: 50%;
}
#recipies{
    text-align: center;
    max-width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10%;
    padding-right: 10%;
}
#flex{
    display: flex;
}
.recipe-box{
    border-radius: 15px;
    box-shadow: 3px 7px 18px gray;
    width: 100%;
    padding: 2% 1%;
    margin: 2%;
}
.recipe-box img{
    width: 92%;
    height: 256px;
    border-radius: 10%;
    margin-left: 4%;
    margin-right:4%;
}
#order{
    background-image: url(../image/order-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#order-form{
    text-align: center;
    width: 60%;
}
input{
    display: block;
    width: 50%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-left: 25%;
    border: 0;
    border-radius: 7px;
    box-shadow: 5px 12px 20px #808080b6;
}
#submit{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: 16px;
    background-image: linear-gradient(180deg,#FBA24F,#FF1E1E );
    border-radius: 16px;
}
#statics-box{
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 3px 7px 18px gray;
    border-radius: 25px;
}
.statics{
    padding: 10px;
    margin-left: 10%;
}
#contact{
    background-image: url(../image/contact-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#contact-form{
    text-align: center;
    width: 50%;
    margin-left: 50% ;
}
#send-email{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: 16px;
    background-image: linear-gradient(180deg, blueviolet,blue );
    border-radius: 16px;
}
footer{
    background: #0B0D17;
    height: 200px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 10px;

}
#colored-text2{
    color: green;
}