body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 54px;
}
.colored-text{
    color: blueviolet;
}
p{
    font-size: 20px;
    
    color: #828282;
    margin: 2em 0em;
}
section{
    margin-top: 120px;
}
#banner{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 100px;
}
.half-width img{
    width: 80%;
}
.call-to-action-button{
    text-decoration: none;
    color: white;
    background: 16px;
    background-image: linear-gradient(blueviolet,blue );
    border-radius: 16px;
    padding: 16px;
    margin-top: 100px;
}
#about{
    background-image: url(/image/about-me-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10%;
    padding-bottom: 25%;
}
#about-text{
    margin-left: 50%;
}
#recipies{
    text-align: center;
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
#flex{
    display: flex;
}
.recipe-box{
    border-radius: 5%;
    box-shadow: 5px 10px 18px gray;
    width: 90%;
    padding: 2% 1%;
    margin: 3%;
}
.recipe-box img{
    width: 90%;
    height: 256px;
}
#order{
    background-image: url(/image/order-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5%;
    padding-bottom: 25%;
}
#order-form{
    text-align: center;
    width: 60%;
}
input{
    display: block;
    width: 50%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-left: 25%;
    border: 0;
    border-radius: 7px;
    box-shadow: 5px 12px 20px #808080b6;
}
.submit-button{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: 16px;
    background-image: linear-gradient(180deg,#FBA24F,#FF1E1E );
    border-radius: 16px;
}

